.git
.gitignore
.gitattributes
.editorconfig
.env
.env.example
.phpunit.result.cache
node_modules
vendor
storage/app/*
!storage/app/public
bootstrap/cache/*.php
!bootstrap/cache/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
k6
grep.exe.stackdump
*.md
deploy.ps1
deploy.sh
